
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" accept=".csv" />
        <input type="submit" value="Import" />
    }
    <p>
        @ViewBag.msg
    </p>
    <p>
        @ViewBag.mg
    </p>
    <p>
        @ViewBag.message
    </p>
    <p>
        @ViewBag.Errormsg
    </p>
    @Html.ActionLink("Download", "ExportCSV")
</body>
</html>